.header-style {
  width: 4rem;
  height: 0.2rem;
  background-color: $primaryColor;
  display: inline-block;
}

.section-title h3 {
  &::before {
    content: "";
    @extend .header-style;
    margin: 0 10px 10px 0;
  }

  &::after {
    content: "";
    @extend .header-style;
    margin: 0 0 10px 10px;
  }
}
